.bg-block {
}

.bg-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 76%;
	height: 840px;
	border-bottom-right-radius: 35%;
	background-color: #1C57C9;
}

@media (max-width: 940px) {
	.bg-wrapper {
		width: 100%;
		height: 740px;
	}	
}

@media (max-width: 440px) {
	.bg-wrapper {
		border-bottom-right-radius: 32%;
		width: 100%;
		height: 800px;
	}	
}

@media (max-width: 375px) {
	.bg-wrapper {
		border-bottom-right-radius: 32%;
		width: 100%;
		height: 740px;
	}	
}

@media (min-width: 1600px) {
	.bg-wrapper {
		width: 65%;
	}
}

